[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "5.1.1"
python-dotenv = "1.0.1"
pillow = "*"
psycopg2-binary = "2.9.9"
docker = "*"

[dev-packages]

[requires]
python_version = "3.12"
